<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Appointment</title>
</head>
<body>
<div class="wrapper-btn">
    <a th:href="@{/}">
        <button class="btn btn-primary" type="button">back</button>
    </a>

</div>

<div class="d-flex justify-content-center">
    <form class="p-5 bg-light" action="#" th:action="@{/{id}/appointments/new(id = ${hospitalId})}" th:object="${appointment}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="nameInput" class="form-label">Date</label>
            <input type="date" th:field="*{date}" id="nameInput" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label for="patient">Patient</label>
            <select class="form-control" id="patient" name="patientId" required>
                <option  th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.firstName}"></option>
            </select>
            <div class="form-group">
                <label for="doctor">Doctor</label>
                <select class="form-control" id="doctor" name="doctorId" required>
                    <option  th:each="doctor : ${doctors}" th:value="${doctor.id}" th:text="${doctor.firstName}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" id="department" name="departmentId" required>
                <option  th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
            </select>
        </div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary btn-lg">
        </div>

    </form>
</div>
</body>
</html>