<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>


<table class="table">
    <thead class="table-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department:${departments}">
        <th th:text="${department.getId()}"></th>
        <td th:text="${department.getName()}"></td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}/doctors/{doctorId}/{departmentId}/delete(id=${id}, doctorId=${doctorId}, departmentId=${department.getId()})} ">
                <input type="submit" class="btn btn-outline-primary"  th:value="  Delete  ">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p style="text-align:center;">
    <a class="btn btn-outline-primary" role="button"
       th:href="@{/{id}/doctors/{doctorId}/assignDepartment(id=${id}, doctorId=${doctorId})}">Assign to department</a>
</p>
</body>
</html>