<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>

        body{
            background-image: url("https://www.alert-software.com/hubfs/it%20department%20hospital.png");
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
    <meta charset="UTF-8">
    <title>Departments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>

<table class="table">
    <thead class="table-dark">
    <tr>
        <th>Id</th>
        <th>Department Name</th>
        <th>Hospital</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="deparment : ${departments}">
        <td th:text="${deparment.id}"></td>
        <td th:text="${deparment.name}"></td>
        <td th:text="${deparment.hospital.name}"></td>




        <td>
            <a>
                <form th:method="GET"
                      th:action="@{/{id}/departments/{departmentId}/delete(id=${hospitalId}, departmentId=${deparment.id})}">
                    <input type="submit" class="btn btn-outline-primary" th:value="  Delete  "></input>
                </form>
            </a>  <a>
                <form th:method="GET"
                      th:action="@{/{id}/departments/{departmentId}/edit(id=${hospitalId}, departmentId=${deparment.id})}">
                    <input type="submit" class="btn btn-outline-primary" th:value=" Update"></input>
                </form>
            </a>
    </tr>
    <a th:href="@{/{id}/departments/saveDepartment (id=${hospitalId})}">
        <button class="btn btn-primary" type="button">Create</button>
    </a>
    </tbody>
</table>


</body>
</html>
